@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <partial name="_ProductCard" model="item" />
        </div>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.basket').on('click', function () {
                let id = $(this).data('id');
                $.ajax({
                    url:'/ProductCard/AddProduct/'+id,
                    success: function(data){
                        console.log(data);
                    },
                    error: function(err){
                        console.log(err);
                    }
                });
            });
        });
    </script>
}