@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <partial name="_ProductCard" model="item" />
        </div>
    }
</div>



<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">           
            <strong class="me-auto">Teşekkürler!</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span id="message"></span>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.basket').on('click', function () {
                let id = $(this).data('id');
                $.ajax({
                    url:'/ProductCard/AddProduct/'+id,
                    success: function(data){
                        //alert(data.message);
                       $('#message').text(data.message);
                        const toastLiveExample = document.getElementById('liveToast')
                        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
                        toastBootstrap.show();
                    },
                    error: function(err){
                        console.log(err);
                    }
                });
            });
        });
    </script>
}